._*
.bundle
.DS_Store
.rvmrc
.ruby-version
.ruby-gemset
.pow*

*.gem
*.swp
database.yml
application.yml

tmp/*
log/*
coverage/*
vendor/bundle
dump.rdb

spec/dummy/log/*
spec/dummy/tmp/*
spec/dummy/vendor/bundle/*
spec/dummy/coverage

Gemfile.lock
dump.rdb
